<a href="https://colab.research.google.com/github/phu0n9/BigData_movie/blob/master/extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
name_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/name.tsv", delimiter="\t",low_memory=False)
name_df = name_df.loc[:,('nconst','primaryName')]
name_df = name_df.rename(columns={'nconst':'imdb_name_id'})
name_df.head()

  imdb_name_id      primaryName
0    nm0000001     Fred Astaire
1    nm0000002    Lauren Bacall
2    nm0000003  Brigitte Bardot
3    nm0000004     John Belushi
4    nm0000005   Ingmar Bergman

In [ ]:
title_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/title.tsv", delimiter="\t",low_memory=False)
title_df = title_df[(title_df['category'] == 'actor') | (title_df['category'] == 'actress') | (title_df['category'] == 'director')]
title_df = title_df.drop(columns=['job','characters','ordering'])
title_df = title_df.rename(columns={'tconst':'imdb_id','nconst':'imdb_name_id'})
title_df.head()

      imdb_id imdb_name_id  category
1   tt0000001    nm0005690  director
3   tt0000002    nm0721526  director
5   tt0000003    nm0721526  director
9   tt0000004    nm0721526  director
11  tt0000005    nm0443482     actor

In [ ]:
imdb_cast = pd.merge(title_df,name_df,how='inner',on='imdb_name_id')
imdb_cast.to_csv("/content/drive/My Drive/Colab Notebooks/cast.csv",index=False)